@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  color-scheme: dark;
  scrollbar-width: thin;
}

@layer base {
  body {
    @apply bg-background text-text;
  }
  :root {
    --background: 255 100% 100%;
    --foreground: 221 25% 56%;
    --card: 255 100% 100%;
    --card-foreground: 221 25% 56%;
    --popover: 255 100% 100%;
    --popover-foreground: 221 25% 56%;
    --primary: 317 100% 50%; /* Neon Pink */
    --primary-foreground: 0 0% 98%;
    --secondary: 200 100% 50%; /* Neon Cyan */
    --secondary-foreground: 317 100% 50%;
    --muted: 289 100% 60%;
    --muted-foreground: 221 25% 56%;
    --accent: 289 100% 60%;
    --accent-foreground: 317 100% 50%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 25% 56%;
    --input: 221 25% 56%;
    --ring: 221 25% 56%;
    --chart-1: 317 100% 50%;
    --chart-2: 200 100% 50%;
    --chart-3: 221 25% 56%;
    --chart-4: 289 100% 60%;
    --chart-5: 200 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 6%;
    --foreground: 221 25% 56%;
    --card: 240 10% 6%;
    --card-foreground: 221 25% 56%;
    --popover: 240 10% 6%;
    --popover-foreground: 221 25% 56%;
    --primary-foreground: 0 0% 100%;
    --primary: 200 100% 50%; /* Neon Blue  */
    --secondary: 170 100% 50%; /* Neon Cyan */
    --secondary-foreground: 240 10% 6%;
    --muted: 289 100% 60%;
    --muted-foreground: 221 25% 56%;
    --accent: 289 100% 60%;
    --accent-foreground: 221 25% 56%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 25% 56%;
    --input: 221 25% 56%;
    --ring: 221 25% 56%;
    --chart-1: 317 100% 50%;
    --chart-2: 200 100% 50%;
    --chart-3: 221 25% 56%;
    --chart-4: 289 100% 60%;
    --chart-5: 200 100% 50%;
  }
}

@layer components {
  .glass-paper {
    @apply dark:bg-dark/30 border border-primary dark:border-primary/30 shadow-lg backdrop-blur-xl;
  }
}

.gradient-heading {
  background: linear-gradient(
    270deg,
    theme("colors.primary.DEFAULT") 25.21%,
    theme("colors.secondary.DEFAULT") 75.88%
  );
  background-clip: text;
  color: transparent;
}

.page {
  padding-bottom: 102px;

  @media (min-width: 768px) {
    padding-bottom: 0px;
    padding-top: 60px;
  }

  min-height: 100vh;

  .page-overlay {
    position: absolute;
    z-index: -1;
    width: 100%;
    min-height: 100%;
    top: 0;
  }

  .page-lights {
    z-index: -1;
    top: 0;
    min-height: 100%;
    width: 100%;
  }
}

body {
  background-color: var(--dark-surface);
}

.page-lights {
  svg:nth-child(odd) {
    left: 0;
    ellipse {
      @apply dark:fill-primary;
    }
  }

  svg:nth-child(even) {
    right: 0;
    transform: rotate(90deg);
    ellipse {
      @apply dark:fill-seconadry;
    }
  }
}

.nav-link-active {
  @apply text-white lg:border-t-2 border-secondary;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
